.m0 {
    margin: 0;
}

.m-bottom {
    margin-bottom: 20px;
}

.m-left {
    margin-left: 10px;
}

.m0-auto {
    margin: 0 auto;
}

.p0 {
    padding: 0;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.t-a-l {
    text-align: left;
}

.font {
    font-family: sans-serif;
}

.fs-50 {
    font-size: 50px;
}

.fs-30 {
    font-size: 30px;
}

.t-a-c {
    text-align: center;
}

.l-s-n {
    list-style: none;
}

.t-d-n {
    text-decoration: none;
}

.pt-250 {
    padding-top: 250px;
}

.max-w-850 {
    max-width: 900px;
}

.max-w-180 {
    max-width: 200px;
}

.mb-100 {
    margin-bottom: 100px;
}

.displ-flex {
    display: flex;
}

.jc-around {
    justify-content: space-around;
}

.fw-400 {
    font-weight: 400;
}

.bsz-box {
    box-sizing: border-box;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

.mb-30 {
    margin-bottom: 30px;
}

.p-y-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-x-30 {
    padding-right: 30px;
    padding-left: 30px;
}

.br-50 {
    border-radius: 50px;
}

.pb-100 {
    padding-bottom: 100px;
}

.h-450 {
    height: 450px;
}

.w-60prc {
    width: 60%;
}

.gap-20 {
    gap: 20px;
}

.w-40prc {
    width: 40%;
}

.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-x-50 {
    padding-right: 50px;
    padding-left: 50px;
}

.fsz-25 {
    font-size: 25px;
}

.fs-20 {
    font-size: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.w-70prc {
    width: 70%;
}

.w-30prc {
    width: 30%;
}

.h-360 {
    height: 360px;
}

.bg-color-green {
    background-color: rgb(127, 211, 127);
}

.w-color {
    color: #fff;
}

.br-color {
    border: 2px solid rgb(148, 206, 148);
}